
/* CARGO CSS STYLES */

/* STORAGE  BLOCK*/

.navigation-main-noscroll {
    position: absolute;
    top: 0;
    z-index: 4;
    padding-top: 1%;
}

.navigation-main-noscroll>div:nth-child(1) {
    width: 65%;
}

.navig-item2:hover {
    color: white;
}

.navig-item2:nth-child(1) {
    margin-left: 2vw;
}

.navig-item2 {
    font-size: 1em;
    padding-left: 1vw;
    padding-right: 1vw;
}

.dark-logo {
    width: 35%;
    flex-direction: column;
    align-items: center;
}

.dark-logo > span {
    font-size: 1.4em;
}

.dark-logo>img {
    width: 55%;
    height: auto;
    object-fit: contain;
}

#nav-range2 {
    position: absolute;
    /* margin: 0; */
    /* margin-top: 0 !important; */
    height: .2em !important;
    background: white !important;
    bottom: 0.5em;
    width: 61.33px;
    left: 0;
    transition: 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.logistic-company {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.logistic-company>div:nth-child(1) {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.logistic-company>div:nth-child(2) {
    position: absolute;
    z-index: 2;
    width: 50%;
    height: 100%;
    right: 0;
}

.logistic-company>div:nth-child(1)>div:nth-child(1) {
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.7;
    position: absolute;
    z-index: 2;
}

.main-text {
    position: absolute;
    z-index: 2;
    top: 29%;
    left: 11%;
}

.main-text>h1 {
    font-size: 3em;
}

.main-text>div {
    margin-top: 8%;
}

.main-text>div>div>div:nth-child(1) {
    flex: 1;
    display: flex;
    align-items: flex-end;
}

.main-text>div>div>div:nth-child(2) {
    flex: 1;
    display: flex;
    align-items: flex-start;
}

.main-text>div>div>div:nth-child(1)>p {
    font-size: 1em;
    padding-left: 2rem;
    margin-bottom: 0;
    padding-bottom: 4%;
}

.main-text>div>div>div:nth-child(2)>p {
    font-size: 1.2em;
    padding-left: 2rem;
    margin-bottom: 0;
    padding-top: 2%;
}

#open-video {
    background: #03a9f4;
    border: 0;
    color: white;
    width: 4em;
    height: 2em;
    font-size: 2vw;
    cursor: pointer;
    transition: background .5s, color .5s;
}

#open-video:hover {
    background: white;
    color: #03a9f4;
}

#main-forma {
    background-color: white;
    background-image: url(../img/background_world_map.png);
    background-size: 135%;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 24vh;
    width: 46vw;
    padding-top: 8%;
    padding-bottom: 9%;
}

#main-forma>div:nth-child(1)>h3 {
    color: #4d4d4d;
    font-size: 1.8em;
    text-align: center;
    font-weight: bold;
}

#main-forma>div:nth-child(1)>p {
    color: #4d4d4d;
    font-size: 1em;
    text-align: center;
}

#main-forma>div:nth-child(2)>div:nth-child(1) {
    width: 50%;
}

#main-forma>div:nth-child(2)>div:nth-child(1)>input:nth-child(1)::placeholder {
    font-size: 1.3em;
    font-family: 'Gotham Pro';
}

#main-forma>div:nth-child(2)>div:nth-child(1)>input:nth-child(1) {
    border: 0;
    border-bottom: .4vh solid #4d4d4d;
    margin-bottom: 1rem;
    margin-top: 3vh;
    font-size: 1.3em;
    height: 6vh;
    background-color: transparent;
    outline: none;
    padding-left: 1em;
    padding-right: 1em;
}

#main-forma>div:nth-child(2)>div:nth-child(1)>input:nth-child(2) {
    border: 0;
    border-bottom: .4vh solid #4d4d4d;
    font-size: 1.3em;
    height: 6vh;
    background-color: transparent;
    outline: none;
    padding-left: 1em;
    padding-right: 1em;
}

#main-forma-btn {
    background: #4d4d4d;
    border: 2px solid transparent;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin-top: 8vh;
    margin-left: 4vw;
    cursor: pointer;
    transition: transform 1s, border 1s, background 1s;
}

#main-forma-btn:hover {
    transform: rotate(360deg);
    border: 2px solid #4d4d4d;
    background: inherit;
}

#main-forma-btn:not(:hover) {
    transform: rotate(0deg);
}

#main-forma-btn>i {
    font-size: 2vw;
    color: white;
    transition: color 1s;
}

#main-forma-btn:hover>i {
    color: #4d4d4d;
}

.fc-fiolet {
    color: #657195;
}

.storage > div:nth-child(1) {
    padding-left: 5vw;
}

.storage > div:nth-child(2) {
    overflow: hidden;
    position: relative;
}

.storage > div:nth-child(2) > img {
    width: 100%;
    position: absolute;
    right: -11vw;
    bottom: 0;
}

.storage {
    margin-top: 10%;
    margin-bottom: 3em;
    width: 100%;
}

.ostrovok {
    font-size: .8em;
    background: #03a9f4;
    width: 85%;
    height: 49%;
    margin: 0 auto;
    margin-top: 10em;
    -webkit-box-shadow: 1px 6px 86px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 6px 86px -15px rgba(0,0,0,0.75);
    box-shadow: 1px 6px 86px -15px rgba(0,0,0,0.75);
}

.ostrovok > h3 {
    font-size: 3.5em;
    line-height: 0.5em;
    color: white;
}

.ostrovok > h2 {
    font-size: 11em;
    font-weight: bold;
    color: white;
}

.ostrovok > h2 > span {
    font-size: .6em;
    font-weight: 300;
}

.middle-text {
    background: #D6D7DB;
    background-size: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
}

.middle-text > h2 {
    font-size: 2em;
    padding-left: 2%;
    padding-right: 2%;
}

.collapse-block {
    background-color: #f1f2f6;
}

.collapse-block > h2{
    font-weight: bold;
    font-size: 3em;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
}

.card-header {
    background: #03a9f4 !important;
    height: 11% !important;
    text-align: left;
}

.btn-link {
    font-size: 'GothamPro' !important;
    color: white !important;
    font-size: 1.1em !important;
    letter-spacing: .04em !important;
    text-decoration: none !important;
}

.btn-link:hover {
    text-decoration: none !important;
}

.accordion {
    width: 90% !important;
}

.card {
    margin-top: 1em;
    margin-bottom: 1em;
}

ul {
    list-style: none;
}

ul li::before {
    content: "■";
    width: 15px !important;
    height: 10px !important;
    font-size: 1.5em;
    color: #03a9f4;
    margin-right: .5em;
}

#accordionExample button {
    width: 100% !important;
    height: 100% !important;
    text-align: left !important;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
}

.storag_bg {
    height: 100%;
}

.storag_bg2 {
    display: none;
}

.storage > div:nth-child(1) {
    width: 60%;
}

.storage > div:nth-child(2) {
    width: 40%;
    height: 35em;
}

.storage > div:nth-child(1) > h3 {
    padding-bottom: 1rem;
    font-size: 1.6em;
}

.storage > div:nth-child(1) > p {
    font-size: .9em;
    line-height: 1.8em;
}

.arrow-rotate {
    position: absolute;
    right: 3%;
    font-size: 1.5em !important;
    transition: transform .5s;
}

#arrowIcon1 {
    transform: rotate(0deg);
}

#arrowIcon2 {
    transform: rotate(0deg);
}


#arrowIcon3 {
    transform: rotate(0deg);
}


#arrowIcon4 {
    transform: rotate(0deg);
}

.storage > div:nth-child(1) > h2 {
    font-size: 2.5em;
}

table li {
    font-size: .6em;
}

table td {
    font-size: 1.8em;
}

.collapse-block {
    padding-bottom: 5%;
}

#cargoVideo {
    object-fit: cover;
}

#container {
    height: 100%;
    min-height: 100%;
    width: 100%;
    margin: 0 auto;
}

#tourDIV {
    height: 100%;
    position: relative;
    overflow: hidden;
}

#panoDIV {
    height: 100%;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.cursorMoveMode {
    cursor: move;
    cursor: url(stkargo-3d-skladdata/graphics/cursors_move_html5.cur), move;
}

.cursorDragMode {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor: url(stkargo-3d-skladdata/graphics/cursors_drag_html5.cur), default;
}

.storage > div:nth-child(1) > ul > li {
    font-size: .9em;
    line-height: 1.8em;
    color: #657195;
}

#overlay-ctrl {
    display: block;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#overlay-ctrl > div {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: grey;
    opacity: .8;
}

#overlay-ctrl > span {
    font-size: 2em;
    position: absolute;
    z-index: 4;
    /* line-height: 54vw; */
    width: 100%;
    text-align: center;
}
